<div class="col<%= column.size %>"
     id="<%= dom_id(column) %>"
     <% if can_edit_scroll? %>
     data-selectable="Selected"
     data-commands="#<%= dom_id(column) %>_commands"
     <% end %>
>

  <% if column.children.empty? && !can_edit_scroll? %>
    &nbsp;
  <% elsif column.children.empty? && can_edit_scroll? %>
    <p class="EmptyColumn">Click to edit</p>
  <% else %>
    <% column.children.each_with_index do |component,position| %>
      <%= render component, position: position %>
    <% end %>
  <% end %>

</div>

<% if can_edit_scroll? %>
  <div class="Commands" id="<%= dom_id(column) %>_commands" style="display:none">
    <%= link_to "Add a component", scroll.new_component_path(column_id: column.id, position: column.children.count), class: "CommandButton", data: { append: "#" + dom_id(column) } %>
  </div>
<% end %>
