<div id="scroll">
  <div id="scroll_admin" style="display: none;">
    <div class="container">
      <% if page.nil? %>
        <%= link_to "Setup page at path #{request.path}", scroll.pages_path(path: request.path), class: "Button", method: :post %>
      <% else %>

        <%= form_for page, url: scroll.page_path(page) do |f| %>

          <div class="Field">
            Path: <%= f.text_field :path, class: "TextField", placeholder: "Page Path" %>
          </div>

          <div class="Field">
            <%= f.text_field :title, class: "PageTitleField", placeholder: "Page Title" %>
          </div>

          <div class="Field">
            <%= f.check_box :published %>
            <%= f.label :published %>
          </div>

          <div class="row">
            <div class="col6">
              <div class="Field">
                <%= f.text_area :meta_keywords, rows: 6, class: "MetaTextArea", placeholder: "meta keywords" %>
              </div>
            </div>
            <div class="col6">
              <div class="Field">
                <%= f.text_area :meta_description, rows: 6, class: "MetaTextArea", placeholder: "meta description" %>
              </div>
            </div>
          </div>
          <p>
            <%= f.submit class: "Button" %>
            <%= link_to "Preview Page", (request.path + "?preview"), class: "Button" %>
            <%= link_to "Destroy Page", scroll.page_path(page), class: "Button", method: :delete, confirm: "Are you sure?" %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>

  <%= link_to "&nbsp;".html_safe, "#", id: "show_scroll_admin" %>
</div>
