<div class="Page">
  <% if page.present? %>

    <% content_for(:title, page.title) if page.title.present? %>
    <% content_for(:meta, tag(:meta, name: "keywords", content: page.meta_keywords)) if page.meta_keywords.present? %>
    <% content_for(:meta, tag(:meta, name: "description", content: page.meta_description)) if page.meta_description.present? %>

    <% if page.children.empty? %>
      <% if can_edit_scroll? %>
        <div class="container">
          <%= render template: "scroll/rows/new", locals: { page_id: page.id } %>
        </div>
      <% end %>
    <% else %>
      <% page.children.each_with_index do |row,position| %>
        <%= render row, position: position %>
      <% end %>
    <% end %>

  <% end %>
</div>

<% if can_edit_scroll? %>
  <%= render template: "scroll/pages/edit", locals: { page: page } %>
  <div id="scroll_commands" style="display:none"></div>
<% end %>
