<% page_id ||= params[:page_id] %>
<div class="NewRow container">
  <% Scroll::Column.formats.each do |format_name, format| %>
    <%= link_to scroll.rows_path(page_id: page_id, position: params[:position], columns: format), class: "#{format_name}_row".camelcase, method: :post do %>
      <i></i>
    <% end %>
  <% end %>

  <p>
    Choose a section layout or
    <%= link_to "cancel", "#", class: "CancelLink", data: { close: ".NewRow" } %>
  </p>

</div>
