<% text_component = component.renderable %>

<div id="<%= dom_id(component) %>"
     class="TextComponent <%= text_component.style %>"
     <% if can_edit_scroll? %>
     data-selectable="Selected"
     data-commands="#<%= dom_id(component) %>_commands"
     data-reload="<%= scroll.component_path(component) %>"
     <% end %>
>

  <%= markdown text_component.content.presence || "no text" %>

</div>
