<div id="<%= dom_id(component) %>"
     class="TextComponent <%= renderable.style %>"
     data-reload="<%= scroll.component_path(component) %>">

  <div class="Form">

    <%= component_form_for renderable do |f| %>
      <div class="Field <%= renderable.style %>">
        <%= f.text_area :content, class: "ContentField", rows: 3, placeholder: "Type your text here...", data: { auto_save: true } %>
      </div>

      <div class="Options">
        <% if Scroll.config.styles[:text_component].is_a?(Hash) %>
          <div class="Field">
            <%= f.select :style, Scroll.config.styles[:text_component] %>
          </div>
        <% end %>

        <div>
          <%= f.submit class: "Button" %>
          or <%= link_to "cancel", scroll.component_path(component), data: { load: "##{dom_id(component)}" } %>
        </div>
      </div>
    <% end %>

  </div>

</div>
