#scroll_commands {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  padding: 10px 10px 5px;
  width: 100%;
  box-shadow: 0 2px 6px rgba(0,0,0,.66);
  border-top: 1px solid #a8a8a8;
  background: rgb(112,112,112);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcwNzA3MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzODM4MzgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(112,112,112,1) 0%, rgba(56,56,56,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(112,112,112,1)), color-stop(100%,rgba(56,56,56,1)));
  background: -webkit-linear-gradient(top,  rgba(112,112,112,1) 0%,rgba(56,56,56,1) 100%);
  background: -o-linear-gradient(top,  rgba(112,112,112,1) 0%,rgba(56,56,56,1) 100%);
  background: -ms-linear-gradient(top,  rgba(112,112,112,1) 0%,rgba(56,56,56,1) 100%);
  background: linear-gradient(to bottom,  rgba(112,112,112,1) 0%,rgba(56,56,56,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#707070', endColorstr='#383838',GradientType=0 );
}

.CommandButton {
  @extend .Button;
  border: 1px solid #545454;
  color: #c4c4c4;

  background: rgb(112,112,112);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcwNzA3MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzODM4MzgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(112,112,112,1) 0%, rgba(56,56,56,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(112,112,112,1)), color-stop(100%,rgba(56,56,56,1)));
  background: -webkit-linear-gradient(top,  rgba(112,112,112,1) 0%,rgba(56,56,56,1) 100%);
  background: -o-linear-gradient(top,  rgba(112,112,112,1) 0%,rgba(56,56,56,1) 100%);
  background: -ms-linear-gradient(top,  rgba(112,112,112,1) 0%,rgba(56,56,56,1) 100%);
  background: linear-gradient(to bottom,  rgba(112,112,112,1) 0%,rgba(56,56,56,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#707070', endColorstr='#383838',GradientType=0 );

  &:hover {
    color: white;
  }
}
