#scroll {
  position: relative;
  margin-top: -12px;
}

#scroll_admin {
  padding: 20px 0 10px;

  box-shadow: inset 0 3px 9px rgba(0,0,0,.33);

  background: rgb(224,224,224);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwZTBlMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmN2Y3ZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(224,224,224,1) 0%, rgba(247,247,247,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,224,224,1)), color-stop(100%,rgba(247,247,247,1)));
  background: -webkit-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(247,247,247,1) 100%);
  background: -o-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(247,247,247,1) 100%);
  background: -ms-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(247,247,247,1) 100%);
  background: linear-gradient(to bottom,  rgba(224,224,224,1) 0%,rgba(247,247,247,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#f7f7f7',GradientType=0 );
}

#show_scroll_admin {
  background: url("/assets/scroll/show_scroll_admin.png") no-repeat center bottom;
  display: block;
  height: 20px;
  overflow: hidden;
  text-align: center;
  border-top: 1px solid #f2f2f2;
  text-decoration: none;
}

.PageTree {
  list-style-type: none;
}

.PageTreeLeaf {
  color: #a8a8a8;
  padding: .25em 0;

  a {
    color: #8c8c8c;
    text-decoration: none;

    span {
      color: #545454;

    }

    &:hover, &:hover span {
      color: #1899c4;
    }
  }
}
