.NewComponent, .NewRow {
  text-align: center;
}

.RowIconButton {
  display: inline-block;
  width: 80px;
  padding: 10px 0;
  margin: 0 10px;

  &:hover {
    background: #f2f2f2;
  }
}

.RowIcon {
  display: block;
  background: url("/assets/scroll/columns.png");
  width: 60px;
  height: 60px;
  margin: 0 auto;
  overflow: hidden;
}

.ComponentIcon {
  display: inline-block;
  background: url("/assets/scroll/components.png");
  width: 60px;
  height: 60px;
  margin: 0 10px;
  overflow: hidden;
}

.FullWidthRow {
  @extend .RowIconButton;
}

.FullWidthRow i {
  @extend .RowIcon;
  background-position: top center;
}

.TwoColumnsRow {
  @extend .RowIconButton;
}

.TwoColumnsRow i {
  @extend .RowIcon;
  background-position: center left;
}

.ThreeColumnsRow {
  @extend .RowIconButton;
}

.ThreeColumnsRow i {
  @extend .RowIcon;
  background-position: center center;
}

.FourColumnsRow {
  @extend .RowIconButton;
}

.FourColumnsRow i {
  @extend .RowIcon;
  background-position: center right;
}

.CenteredColumnRow {
  @extend .RowIconButton;
}

.CenteredColumnRow i {
  @extend .RowIcon;
  background-position: bottom center;
}

.LargeLeftRow {
  @extend .RowIconButton;
}

.LargeLeftRow i {
  @extend .RowIcon;
  background-position: top right;
}

.LargeRightRow {
  @extend .RowIconButton;
}

.LargeRightRow i {
  @extend .RowIcon;
  background-position: top left;
}

.AddTitleComponentLink {
  @extend .ComponentIcon;
  background-position: center left;
}

.AddTextComponentLink {
  @extend .ComponentIcon;
  background-position: center center;
}

.AddFigureComponentLink {
  @extend .ComponentIcon;
  background-position: center right;
}
