<% figure_component = component.renderable %>

<figure id="<%= dom_id(component) %>"
        class="FigureComponent <%= component.renderable.style %>"
        <% if can_edit_scroll? %>
        data-selectable="Selected"
        data-commands="#<%= dom_id(component) %>_commands"
        data-reload="<%= scroll.component_path(component) %>"
        <% end %>
>

  <% if figure_component.width.present? && !figure_component.width.zero? %>
    <% width = figure_component.width  %>
  <% else %>
    <% width = nil %>
  <% end %>

  <% if figure_component.image.present? %>
    <% if figure_component.url.present? %>
      <%= link_to image_tag(figure_component.image.url(:large), width: width), figure_component.url %>
    <% else %>
      <%= image_tag figure_component.image.url(:large), width: width %>
    <% end %>
  <% else %>
    image missing
  <% end %>

  <% if figure_component.caption.present? %>
    <figcaption>
      <%= figure_component.caption %>
    </figcaption>
  <% end %>

</figure>
