<% if can_edit_scroll? && (component.renderable.never_been_updated? || !component.renderable.presentable?) %>
  <%= render template: "#{component.renderable.class.to_s.underscore.pluralize}/edit",
    locals: { component: component, renderable: component.renderable } %>
<% else %>
  <%= render component.renderable.class._to_partial_path.dup, component: component %>
<% end %>

<% if can_edit_scroll? %>
  <div class="Commands" id="<%= dom_id(component) %>_commands" style="display: none;">
    <%= link_to "Add component before", scroll.new_component_path(column_id: component.column_id, position: position), class: "CommandButton", data: { before: "#" + dom_id(component) } %>
    <%= link_to "Add component after", scroll.new_component_path(column_id: component.column_id, position: position + 1), class: "CommandButton", data: { after: "#" + dom_id(component) } %>
    <%= link_to "Edit", scroll.edit_component_path(component), class: "CommandButton", data: { load: "##{dom_id(component)}" } %>
    <%= link_to "Remove", scroll.component_path(component), class: "CommandButton", method: :delete, confirm: "Are you sure?" %>
  </div>
<% end %>
