<% column_id ||= params[:column_id] %>
<% position ||= params[:position] %>
<div class="NewComponent">
  <% Scroll::Component.types.each do |type_name| %>
    <%= link_to scroll.components_path(column_id: column_id, position: position, type: type_name), class: "Add#{type_name.camelcase.demodulize}Link", method: :post do %>
      &nbsp;
    <% end %>
  <% end %>
</div>
