<% title_component = component.renderable %>

<h1 id="<%= dom_id(component) %>"
    class="TitleComponent <%= component.renderable.style %>"
    <% if can_edit_scroll? %>
    data-selectable="Selected"
    data-commands="#<%= dom_id(component) %>_commands"
    data-reload="<%= scroll.component_path(component) %>"
    <% end %>
>

  <% if title_component.url.present? %>
    <%= link_to title_component.content, title_component.url %>
  <% else %>
    <% if title_component.content.present? %>
      <%= title_component.content %>
    <% else %>
      undefined title
    <% end %>
  <% end %>

</h1>
