<% if title_component.ever_been_updated? && title_component.content.present? %>
  <h1 class="<%= title_component.style %>">
    <% if title_component.url.present? %>
      <%= link_to title_component.content, title_component.url %>
    <% else %>
      <%= title_component.content %>
    <% end %>
  </h1>
<% else %>
  <%= render template: "scroll/title_components/edit", locals: { renderable: title_component } %>
<% end %>
