<div id="<%= dom_id(component) %>"
     class="TextComponent"
     data-reload="<%= scroll.component_path(component) %>">

  <div class="Form">

    <%= component_form_for renderable do |f| %>
      <div class="Field <%= renderable.style %>">
        <%= f.text_area :content, rows: 1, class: "ContentField", placeholder: "Title" %>
      </div>

      <div class="Options">
        <div class="Field">
          <%= f.text_field :url, class: "TextField", placeholder: "URL" %>
        </div>

        <% if Scroll.config.styles[:title_component].is_a?(Hash) %>
          <div class="Field">
            <%= f.select :style, Scroll.config.styles[:title_component] %>
          </div>
        <% end %>

        <div>
          <%= f.submit class: "Button" %>
          or <%= link_to "cancel", scroll.component_path(component), data: { load: "##{dom_id(component)}" } %>
        </div>
      </div>
    <% end %>

  </div>

</div>
